[submodule "evm-asm"]
	path = evm-asm
	url = https://github.com/Verified-zkEVM/evm-asm
[submodule "cakeml"]
	path = cakeml
	url = https://github.com/CakeML/cakeml
[submodule "flapjack"]
	path = flapjack
	url = https://github.com/pirapira/flapjack.git
